<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Pizzas')}" />

<body>


    <!-- header -->
    <header>

        <section th:replace="~{fragments/navbar :: navbar}" />

    </header>


    <!-- main -->
    <main class="container">

        <section class="title row">
            <div class="col-12">
                <h1 class="text-center">
                    Editing [[${pizza.name}]]
                </h1>
            </div>
        </section>



        <section class="pizzas row d-flex justify-content-center">

            <div class="col-12 text-center">
                <ul>
                    <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
                </ul>
            </div>



            <div class="col-6">
                <form th:action="@{/pizzas/edit/{id}(id=${pizza.id})}" method="POST" th:object="${pizza}" id="pizza-creation-form">


                    <!-- form fields -->
                    <div class="mb-3">
                        <label for="pizza-name" class="form-label">Name</label>
                        <input type="text" id="pizza-name" class="form-control mb-3" th:field="*{name}" th:errorClass="is-invalid" required>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                            <ul>
                                <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="pizza-description" class="form-label">Description</label>
                        <textarea id="pizza-description" class="form-control mb-3" th:field="*{description}"
                            th:errorClass="is-invalid" required></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                            <ul>
                                <li th:each="error : ${#fields.errors('description')}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="pizza-photo" class="form-label">Photo URL</label>
                        <input type="text" id="pizza-photo" class="form-control mb-3" th:field="*{photo}" th:errorClass="is-invalid" required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('photo')}">
                            <ul>
                                <li th:each="error : ${#fields.errors('photo')}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="pizza-price" class="form-label">Price</label>
                        <input type="number" id="pizza-price" class="form-control mb-3" th:field="*{price}" th:errorClass="is-invalid" required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                            <ul>
                                <li th:each="error : ${#fields.errors('price')}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>


                    <!-- form buttons -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Update pizza</button>
                        <a th:href="@{/pizzas}" class="btn btn-danger">Go back</a>
                    </div>
                </form>
            </div>
        </section>
    </main>


    <!-- footer -->
    <footer>


    </footer>


    <script th:replace="~{fragments/popper :: popper}" />
</body>

</html>