<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Pizzas')}" />

<body>


    <!-- header -->
    <header>

        <section th:replace="~{fragments/navbar :: navbar}" />

    </header>


    <!-- main -->
    <main class="container">
        <section class="title row">
            <div class="col-12">
                <h1 class="text-center">
                    Details
                </h1>
            </div>
        </section>

        <section class="pizzas row justify-content-center mb-3" th:object="${pizza}">
            <article class="col-6 card">
                <img th:src="*{photo}" class="card-img-top w-25" alt="...">
                <div class="card-body">
                    <h1 class="card-title">
                        [[*{name}]]
                    </h1>
                    <h3 class="card-subtitle fs-3">
                        Ingredients:
                        <span class="me-3" th:each="ingredient : ${pizza.ingredients}" th:text="${ingredient.name}"/>
                    </h3>
                </div>
                <div class="card-footer">
                    <ul th:object="${pizza}">
                        <li>Id: [[*{id}]]</li>
                        <li>Description: [[*{description}]]</li>
                        <li>Price: $[[*{price}]]</li>
                    </ul>
                </div>
            </article>

        </section>

        <h1 class="text-center mb-3" th:if="${pizza.offers.size() > 0}">-Special offes-</h1>

        <section class="offers row">

            <section class="pizzas">
                <table class="col-12 table table-hover" th:if="${pizza.offers.size() > 0}">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Starting date</th>
                            <th scope="col">End date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="offer : ${pizza.offers}" th:object="${offer}">
                            <td>[[*{id}]]</td>
                            <td>[[*{title}]]</td>
                            <td>[[*{offerStartDate}]]</td>
                            <td>[[*{offerEndDate}]]</td>
                            <td>
                                <a th:href="@{|/offers/*{id}/edit|}" class="btn btn-success btn-sm ">Edit</a>

                                <!-- Button trigger modal -->
                                <button type="button" class="d-inline btn btn-danger btn-sm" data-bs-toggle="modal"
                                    th:data-bs-target="'#delete-modal-' + *{id}">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" th:id="'delete-modal-' + *{id}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Deleting special
                                                    offer for
                                                    [[${pizza.name}]]
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Deleting <strong>[[*{title}]]</strong> from the database, are you
                                                    sure you want to proceed?
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Go
                                                    back</button>
                                                <form th:action="@{|/offers/delete/*{id}|}" method="post"
                                                    class="d-inline">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <h2 th:unless="${pizza.offers.size() > 0}">

                    <h5 class="text-center text-secondary">No special offers for this pizza at this time</h5>

                </h2>

                <div class="d-flex justify-content-center">
                    <a th:href="@{/pizzas}" class="btn btn-danger">Go back</a>
                </div>

            </section>

        </section>
    </main>


    <!-- footer -->
    <footer>


    </footer>


    <script th:replace="~{fragments/popper :: popper}" />
</body>

</html>